/* product-list.tpl */
ul#product_list { margin-top: 2em; list-style-type: none }
ul#product_list li {
	padding: 10px 6px;
	min-height: 130px;
	height: auto;
	clear: both;
	margin-bottom: 0px;
	border-bottom: 1px solid #EBEBEB;
}
* html ul#product_list li {
	height: auto !important;
	height: 130px
}
ul#product_list li a {
	text-decoration: none;
	color: #636363;
	font-size: 12px;
}
ul#product_list li h3 a {
	text-decoration: none;
	color: #309dcf;
	font-size: 12px;
}
ul#product_list li h3 a:hover{
	text-decoration: underline;
}
ul#product_list li div.right_block a {
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}
ul#product_list li div.right_block a:hover{
	text-decoration: none;
	color: #cbedf7;
}
ul#product_list a.product_img_link {
	float: left;
	margin-right: 0.6em
}
ul#product_list a.product_img_link img { vertical-align: bottom; display: block }
ul#product_list li h3 { margin: 0.4em 0 }
ul#product_list li .new {
	background: transparent url(../img/flag_new_bg.jpg) repeat-x scroll 0%;
	border: 1px solid #488C40;
	color: white;
	font-size: 0.6em;
	font-weight: bold;
	margin: 0 1em 0 0;
	padding: 0 0.4em;
	text-transform: uppercase;
	vertical-align: 0.3em
}
ul#product_list li p.product_desc {
	float:left;
	font-size:12px;
	margin:0;
	padding:0;
	width:180px;
}
ul#product_list li div.center_block {
	float: left;
	width: 320px;
	border-right: 0px dotted #B4B4B4;
}
ul#product_list li div.right_block {
	float: left;
	width: 160px;
	text-align: right;
	margin-left: 1em;
	margin-top: 0;
	text-align: left;
}
ul#product_list li .discount, ul#product_list li .on_sale, ul#product_list li .online_only {
	color: #eb7e13;
	text-transform: capitalize;
	font-weight: bold;
	display: block
}
ul#product_list li .reduction {
	display: block;
	margin-bottom: 0.3em
}
ul#product_list li .price {
	display: block;
	font-size: 14px;
	margin-bottom: 0.2em
}
ul#product_list li span.availability {
	color:#636363;
	font-size:12px;
	display: block;
	padding: 4px 0px;
}
ul#product_list li a.button { margin-top: 0.5em }
ul#product_list li p.compare{
	clear:both;
	margin:0 0 0 -7px;
	padding:7px 0 0;
}
ul#product_list li p.compare input { vertical-align: text-bottom }
